body{
    margin: 0;
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    background-color: #EAF9F5;
}

h1 {
    font-family: 'Anonymous Pro', monospace;
    font-size: 300%;
    margin: 50px auto 0 auto;
    color: #66BFBF;
    line-height: 200%;
}

h2 {
    font-family: 'Titillium Web', cursive;
    font-size: 1.5rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Titillium Web', cursive;
    color: #11999E;
}

a {
    color: #11999E;
}

hr {
    border-style: none;
    border-top: dotted;
    border-width: 5px;
    margin-top: 3%;
    margin-bottom: 3%;

    width: 5%;
}

.top-container{
    margin-top: 100px;
    postion: relative;
}

.middle-container {

}

.bottom-container {
    background-color: #66BFBF;

}

.should {
    font-weight: bold;
    text-decoration: underline;

}

.top-cloud {
    position: absolute;
    margin-left : 100px;
    margin-top : -50px;

}

.bottom-cloud {
    position: absolute;
    margin-left : 100px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.skill-image-left {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.skill-image-right {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.allrightsreserved {
    color: #EAF6F6;
}

.contact-me {
    margin-top: 5%;
}



